
body {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==);
}

li {
  display: inline-block;
  padding: 5px;
  border:  2px groove ;
  margin-right: 35px;
  margin-left: 8px;
  color: whitesmoke;
  font-size: 20px;


}
li {
  background:rgb(180, 180, 180);
  border: 1px solid rgb(2, 2, 3);
  border-radius: 100px;
  transition-duration: 0.1s;
  padding: 15px 20px;

}

li:hover {
  background:rgb(12, 12, 121);
  color: rgb(4, 4, 17);
}

li:active {
  background: rgb(201, 93, 4);
  color: rgb(4, 4, 19);
}


h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px;
}

div {
 margin: auto;

}
#buttons {
  margin-top: 200px;
}

button {
  background:rgb(180, 180, 180);
  border: 1px solid rgb(2, 2, 3);
  border-radius: 100px;
  font-size: 30px;
  transition-duration: 0.1s;
  padding: 15px 20px;

}

button:hover {
  background:rgb(12, 12, 121);
  color: rgb(4, 4, 17);
}

button:active {
  background: rgb(201, 93, 4);
  color: rgb(4, 4, 19);
}



header {
  background:rgb(12, 12, 121);
  color: rgb(201, 93, 4);
  height: 4em;
  border: 2px solid ;
  border-radius: 40px;
}


#url{
  width:95%;
}


 footer {
  background: rgb(12, 12, 121);
  color: rgb(201, 93, 4) ;
  font-size: 20px;
  height: 20px;
  text-align: center;
  margin-top: 20px;
  border: 2px solid ;
  padding: 15px;
  border-radius: 50px;
}
